.wrapper {
  position: relative;
}

.quote {
  cursor: pointer;
  color: #007bff;
}

.box {
  position: absolute;
  display: inline-block;
  left: 100%;
  top: 50%;
  border: solid 1px black;
  background: white;
  padding: 16px;
  z-index: 5;
  width: 25vw;
}
