@use '/styles/mixin';

.wrapper {
  @include mixin.breakpoint(md) {
    position: relative;
  }
}

.quote {
  cursor: pointer;
  color: #007bff;
}

.box {
  position: absolute;
  display: inline-block;
  border: solid 1px black;
  background: white;
  padding: 16px;
  z-index: 5;
  left: 0;
  width: 100vw;

  @include mixin.breakpoint(md) {
    left: 100%;
    top: 50%;
    width: 25vw;
  }
}

.boxLink {
  color: #007bff;
  text-decoration: underline;
  &:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  &:visited {
    color: #6f42c1;
  }
}

