@font-face {
  font-family: xiberonne;
  src: url(/fonts/xiberon.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Palatino !important;
  background-color: #000000 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

h4 {
  margin-top: 8px !important;
}

h6 {
  font-weight: bold !important;
}

.text {
  padding: 120px 6% !important;
  background: linear-gradient(90deg, #000000, #faebd7 4%, #faebd7 96%, #000000);
  color: #333333;
}

.image-wrapper {
  margin-bottom: 32px;
  text-align: center;
  cursor: pointer;
}

.image-description {
  text-align: left;
  margin: auto;
  width: 80%;
}

.anchor {
  position: absolute;
  margin-top: -120px;
}

.note {
  text-decoration: underline;
}

@media only screen and (max-width: 576px) {
  .absolute {
    position: absolute;
  }
}

.fit {
  width: 100%;
  height: auto;
}

.xiberonne {
  font-family: xiberonne;
}
