.langToggler {
  bottom: 0;
}

.brand {
  color: #cccccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 28px;
  text-transform: none;
}

.brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.brand::first-letter {
  color: #cc0000;
}
